@charset "UTF8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #EADBC6, #E9AD63);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #12122980;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #B9CC2E;
text-align: center;
text-shadow: 1px 1px 2px #3c420f7e;

}

h2{
color: #12A4C9;

}


p{
    text-align: justify;
}